*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
}

#wrapper{
	width: 1100px;
	margin: auto;
}

nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #9E81F5;
	height: 2em;
	margin-bottom: 0.5em;
}

table{
	width: 100%;
}

thead{
	background-color: #A76ADE;
	text-align: center;
}

td{
	padding-left: 0.5em;
	border-bottom: 1px solid #000;
}

textarea{
	width: 80%;
}

footer{
	text-align: center;
	padding-top: 2em;
}